h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

.card {
  border-radius: 4px;
}

.app-main {
  padding: 0;
  width: 100%;
}

.app-main {
  max-width: 1260px; 
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

.app-page {
  padding-top: 32px;
}
